
         <!-- Категории:
         <select style="width: 120px;">
             <option *ngFor="let category of categories"> {{category.name}} </option>
            
           </select>   -->

                <h2 style="margin-top: 0px;"> 
                   
                      <input style="margin: 0px; " title="Нажмите для редактирования" placeholder="Категория" class="form-control"  [(ngModel)]="category.name" [ngModelOptions]="{standalone: true}" />
                      <a title="Нажмите чтобы добавить новую заметку" (click) = "add()"> <h4>Добавить новую категорию</h4></a>
                </h2>  
              
 
         