<div class="container-fluid">
<form [ngClass]="{'if-notes-card': !isCurrentViewList}">
  <div  *ngIf="note || isAddNewNote" [ngClass]="{'if-not-change': !isChange && !isAddNewNote}" >

    <div class="form-group">
      <h2 style="margin-top: 0px;"> 
          
            <input style="margin: 0px; " title="Нажмите для редактирования" placeholder="Название" class="form-control" [disabled]="!isChange && !isAddNewNote" [(ngModel)]="note.name" [ngModelOptions]="{standalone: true}" />
          
      </h2>  
    </div>

    <div class="form-group">
      <select class="form-control" [disabled]="!isChange && !isAddNewNote" [(ngModel)]="note.category" [ngModelOptions]="{standalone: true}">
        <option disabled>Выберите категорию</option>
        <option selected>Работа</option>
        <option >Учеба</option>
        <option>Домашние</option>
        <option>Личные</option> 
        <option>Школа</option>
      </select>
    </div>

    <div class="form-group">
          <textarea autofocus maxlength="1140" class="form-control" title="Нажмите для редактирования" placeholder="Начните печатать текст" [disabled]="!isChange && !isAddNewNote" [(ngModel)]="note.content" [ngModelOptions]="{standalone: true}" ></textarea>
    </div>
    <div class="icons-button">
        <a  *ngIf="!isCurrentViewList" title="Назад"   (click)="back()"> 
            <fa-icon size="6x" [icon]="faUndo"></fa-icon>
        </a>
        <a title="Редактировать"   (click)="isChange=true;"> 
            <fa-icon size="6x" [icon]="faEdit"></fa-icon>
        </a>
        <a title="Сохранить"   (click)="save()"> 
          <fa-icon size="6x" [icon]="faSave"></fa-icon>
        </a>
        <a *ngIf="!isCurrentViewList" title="Удалить"   (click)="delete(note)"> 
            <fa-icon size="6x" [icon]="faTrashAlt"></fa-icon>
        </a>
      </div>

  </div>
 
</form>
</div>