    span {
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
        font-size: 30px;
        color: #141313f5;
     }

     .form-group {
        margin-bottom: 0px;
     }

     a { 
        width: 41px;
        text-decoration: none; 
        color: black;
        
    } 

    div.container-fluid {
        background-color: #F9F9FA;
        height: 100vh;
        padding: 0px;
    }
     fa-icon {
        height: 41px;
        margin-right: 10px;
        color: #c5c2c2be;
      }
  
      fa-icon:hover {
         color: #807d7dbe;
      }

     h2 {
        font-size: 36px;
        color: #141313f5;
        margin-bottom: 15px;
        
     }
     
    button {
        width: 120px;
        height: 80px;
        margin-right: 20px;
        margin-left: 20px;
     }


    .button-blok {
        width: 1430px;
        height: 60px;
    }

    .icons-button {
        margin-right: 20px;
        text-align: left;
    }

    

    div.btn-group {
     margin-right: 1000px;
    }

    textarea {
        box-shadow: #c0c0c0;
        border: none;
        width: 1430px;
        height: 500px;
        font-size: 26px;
        margin: 0px;    
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0px;
        color: #141313f5;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #F9F9FA;
     }

     textarea:hover {
        box-shadow: 0 0 5px rgba(78, 77, 77, 0.5);
    }

     select {
        margin: 0px;
        width: 180px;
        height: 40px;
        font-size: 24px;
        padding: 0px;
        border: none;   
        /* color: rgb(236, 164, 29); */
        color: #141313f5;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #F9F9FA;
     }

     select:hover {
        box-shadow: 0 0 5px rgba(78, 77, 77, 0.5);
    }

     input {
        margin-top: 12px;  
        width: 1430px;
        border: none;
        padding: 0px;
        font-size: 26px;    
        color: #141313f5;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #F9F9FA;
     }

     input:hover {
        box-shadow: 0 0 5px rgba(78, 77, 77, 0.5);
    }

     div.if-not-change input {
        text-align: left;
       
        background-color: #F9F9FA;
     }

     div.if-not-change textarea {
        text-align: left;
        
        background-color: #F9F9FA;
     }

     div.if-not-change select {
        text-align: left;
   
        background-color: #F9F9FA;
     } 

    .if-notes-card {    
        background-color: #F9F9FA;
        margin-left: 510px;
        margin-right: 510px;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 900px;
        height: 600px;
        text-align: center;
    
     }

    .if-notes-card textarea {
        width: 896px;
        height: 400px;
     }

     .if-notes-card input {
        width: 896px;
     }

     @media all and (max-width: 360px) {

        button {
            width: 120px;
            height: 40px;
            margin: 20px;
         }

         div.if-note-change  {
             width: 360px;
             height: 640px;
             margin-left: 0px;
             padding: 0px;
         }

         .if-notes-card {
             width: 360px;
         }

         h2 {
            font-size: 26px;
            color: #141313f5;
         }

        
         span {
            font-family: 'Times New Roman', Times, serif;
            font-style: oblique;
            font-size: 20px;
            color: #141313f5;
         }

         input {
            width: 320px;
            margin-left: 20px;
            padding: 0px;
            font-size: 18px;    
            color: #141313f5;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         }

         textarea {
            margin-left: 20px;
            width: 320px;
            height: 80px;
            font-size: 22px;    
            padding: 0px;
         }

         .form-group {
            margin: 0px;
         }

         select {
            margin-left: 20px;
            width: 320px;
         }

         .if-notes-card {
            margin: 0px;
            width: 360px;
            height: 640px;
            text-align: center;
            border: none;
            background-color:#c0c0c0;
         }

         .if-notes-card textarea {
            margin-left: 20px;
            width: 320px;
            height: 80px;
            font-size: 22px;    
            padding: 0px;
         }

         .if-notes-card.ng-untouched.ng-pristine.ng-valid {
            width: 360px;
            height: 640px;
            padding: 20px;
         }

        
        
       
     }


   