.notifices {
    position: fixed;
    z-index: 103;
}

.notice-bottom {
  margin-left: 1545px;
  width: 365px; 
  height: 100px; 
  position: fixed;  
  z-index: 1002;  
  bottom: 0;
  overflow: hidden; 
  border: 2px solid rgb(26, 24, 24); 
  border-radius: 6px;
  background-color: rgb(211, 223, 223);
  
} 

@media all and (max-width: 360px) {
  .notice-bottom {
    margin-left: 195px;
    width: 160px; 
    height: 80px; 
    z-index: 1002;  
    bottom: 0;
    overflow: hidden; 
    border: 2px solid rgb(26, 24, 24); 
    border-radius: 6px;
    background-color: rgb(211, 223, 223);
  }
}