<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
                <div style="text-align: right;">
                    <a title="Список" type="button"  (click)="setList()">  
                            <fa-icon size="2x" [icon]="faList"></fa-icon>
                    </a>

                    <a title="Карточки" type="button"  (click)="setCard()"> 
                            <fa-icon size="2x" [icon]="faTable"></fa-icon>
                    </a>

                    <a title="Меню" type="button"  (click)="setMenu()">
                            <fa-icon size="2x" [icon]="faBars"></fa-icon>
                    </a>
                </div>
        </div>

        <div class="panel-body">
            <div class="container-fluid" *ngIf="!isCurrentViewList" [ngClass]="{'card': !isCurrentViewList}">
                <div  class="nav_menu" style="overflow:hidden">    
                    <ul>
                        <li>
                            <a title="Добавить новую заметку"  id="button-add" routerLink="/detail/1000" (click)="add()">
                                <fa-icon size="9x" [icon]="faPlus"></fa-icon>
                            </a>
                        </li>
                        <li *ngFor="let note of notes">
                            <a title="Заметка № {{note.id}}" class="span-button"> 
                                <div class="card-notes" >  
                                    <h2  title="Название">{{note.name}}<hr> <a id="style-category" title="Категория" >
                                            {{note.category}}
                                        </a></h2> 
                                    <a title="Удалить" (click)="delete(note)">
                                            <fa-icon size="3x"  [icon]="faTrashAlt"></fa-icon>
                                    </a>
                                   
                                </div>
                                <div  class="content-cards"> 
                                
                                <h4 title="Содержание" >{{note.content}}</h4>
                                </div>

                                <div class="details">
                                    <a  routerLink="/detail/{{note.id}}" title="Просмотреть информацию">
                                        Подробнее
                                    </a>
                                </div>
                                
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-6"   *ngIf="isCurrentViewList" [ngClass]="{'if-notes-list': isCurrentViewList}"  >  
                        <ul>
                            <li>
                                <div class="container" style="padding: 0px; margin: 0px; height: 100vh;" [ngClass]="{'if-click-menu': isMenu}" >
                                    <ul class="nav nav-list nav-stacked"    >
                                        <li *ngIf="isCurrentViewList">
                                            <a class="add-note" title="Нажмите чтобы добавить новую заметку" (click) = "add()"> <h4>Добавить новую заметку</h4></a>
                                        </li>
                                        <li *ngFor="let note of notes">
                                            <div class="nav nav-pills">
                                                <li title="Нажмите чтобы выбрать заметку">
                                                    <a  class="elementList" *ngIf="isCurrentViewList" (click)="onSelect(note)">
                                                        <h4 >{{note.name}}</h4> 
                                                    </a>  
                                                 </li>
                                                <li>
                                                    <a type="button" title="Удалить" *ngIf="isCurrentViewList" [ngClass]="{'delete-card': isCurrentViewList}"  (click)="delete(note)" >
                                                        <fa-icon size="2x" [icon]="faTrashAlt"></fa-icon>
                                                    </a>
                                                </li>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6" *ngIf="isAddNewNote || isCurrentViewList" [ngClass]="{'detail-if-menu': !isMenu}">
                        <div class="container" id="aside1" >
                                <ul>
                                    <li><app-note-detail [isAddNewNote]="isAddNewNote" [note] = "selectedNote" [isCurrentViewList]="isCurrentViewList" [isChange] = "isChange" (onBack)="onBack($event)" (onSave)="onSave($event)" style="text-align: center"></app-note-detail></li> 
                                </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
    
</div>
