    a { 
      text-decoration: none; 
      color: black;
      margin-right: 10px;
    } 

    fa-icon {
      color: #c5c2c2be;
    }

    fa-icon:hover {
    color: #807d7dbe;
    }

    a.add-note {
      padding-top: 0px;
    }

    a.add-note h4 {
    font-size: 26px; 
    font-weight: bold;
    color: #130101f5;
    }

   div.panel.panel-primary {
     margin-bottom: 0px;
     height: 100vh;
   }

   textarea {
      width: 200px;
      height: 220px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .elementList {
    width: 355px;   
 
  }

  div.col-md-6.if-notes-list {
    height: 943px; 
  }

  div.col-md-6.detail-if-menu {
  padding: 0px;
  }

  a.elementList h4 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .col-xs-12 {
    height: 100vh;
  }

  .col-md-6 {
    padding: 0px;
  }

  .if-notes-list {
     visibility: visible;
     height: 875px;
     width: 415px;
     background-color: #F9F9FA;
     padding: 0px;
     overflow: scroll; 
     overflow-x: hidden;
     
  }

  .delete-card {
    margin-top: 20px;
    padding: 0px;
  }

  .card {
    height: 875px;
    max-height: 875px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0px;
  }

    #button-panel button {
      margin-right: 20px;
      color: black;
    }
   
  #aside1 {  
    width: 1485px;
    height: 600px;
    padding: 0px;
  }

  div#aside1 ul {
    margin-left: 20px;
    padding-left: 0px;
    list-style-type: none;
  }

  .nav_menu {
    width: 1885px;
    margin: 0px;
    padding-top: 0px;
  }

  .nav_menu ul {
    list-style: none;
    margin: 0px;
    width: 1885px;
  }

  .nav_menu li {
    display: inline;
  }

  .if-click-menu {
    visibility: visible;
  }

  div.details {
   
    margin-left: 300px;
  }

   div.details a {

    text-align: center;
    z-index: 4;
    width: 80px;
    height: 40px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 10px;
    border: 1px #757272be;
    background-color: white;
    font-size: 12px;
    color: #0e0101
  }

  div.details a:hover {
    background-color:  #F9F9FA;
  }

  .nav_menu a {
    z-index: 1;
    float: left;
    width: 420px;
    height: 430px;
    margin: 20px;
    border: 1px #757272be;
    border-radius: 6px;
    background-color: white;
    padding-top: 10px;
    font-size: 18px;
    color: #0e0101;  
  }

  .nav_menu a:hover {
    box-shadow: 0 0 10px rgba(138, 136, 136, 0.5);
  } 

  a#button-add {
    margin-top: 140px;
    margin-left: 160px;
    margin-right: 140px;
    padding-top: 0px;
    background-color: #F9F9FA;
    width: 160px;
    height: 160px;
  }

  a#button-add:hover {
    box-shadow: none;
    
  }

  div.panel-heading {
    padding: 0px;
    background-color: #F9F9FA;
    width: 1905px;
    font-size: 18px;
  }
  
  div.panel-body {
    height: 100vh;
    background-color: #F9F9FA;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  div.if-notes-list ul {
    visibility: visible;
    list-style-type: none;
    padding-left: 0px;
  }

  div.nav-pills {
    padding-left: 0px;
    margin-left: 0px;
  }

  div.btn-group button {
    padding: 0px;
  }
  
  div.container-fluid {
    padding: 0px;
    height: 100vh;
    overflow-x: hidden;
  }
  
  i {
    font-size: 20px;
  }

  div.card-notes h2 {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    width: 340px;
    float: left;
    display: block;
  }

  div.card-notes a {
    z-index: 4;
    font-size: 12px;  
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 0px;
    width: 30px;
    height: 30px;
    float: left;
    display: block;
  }

  a#style-category {
    width: 0px;
    font-size: 17px;
    color: rgb(236, 164, 29);
  }

  div.content-cards hr {
    float: bottom;
    margin-top: 55px;
  }

  div.content-cards h4 {
    text-indent: 20px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
  }

  span {
    margin-left: 390px;
    z-index: 100;
  }

  @media all and (max-width: 360px) {

    .panel-body {
      padding: 0px;
      width: 360px;
      height: 610px;
    }

    .row {
      width: 360px;
    }

    .col-md-6 {
      padding: 0px;
    }

    .if-click-menu {
      height: 100vh; 
      margin: 0px;
    }

    .detail-if-menu {
      z-index: -1;
    }

    div.panel.panel-primary {
      padding: 0px;
      margin: 0px;
      width: 360px;
      height: 640px;
    }

    div.container-fluid { 
      padding: 0px;
      width: 360px;
      height: 640px;
    }

    div.container-fluid.card {
      padding: 0px;
      width: 360px;
      height: 610px;
    }

    a#button-add {
      margin-top: 0px;
      margin-left: 80px;
      margin-right: 80px;
      padding-top: 0px;
      background-color: #F9F9FA;
      width: 150px;
      height: 150px;
    }

    a#button-add fa-icon {
      size: 2x;
    }

    .elementList {
      width: 300px;   
    }

    div.panel-heading {
      padding: 0px;
      height: 30px;
      width: 360px; 
      position: fixed;
      z-index: 5;
    }

    div.panel-heading div a{
      
      
      margin: 0px;
      font-size: 18px;
    }

    div.container {
      width: 360px; 
    }
    
    div.col-md-6.if-notes-list {
      padding-top: 30px;
    }

    a.add-note h4 {
      font-size: 22px; 
      font-weight: bold;
      color: #130101f5;
     }

     div#button-panel.btn-group {
      width: 360px;
    }

     div#aside1.container {
       top: 30px;
       position: fixed;
       width: 360px;
       height: 100vh;
       margin: 0px;
       background-color: #F9F9FA;
     }

     div#aside1 ul {
      width: 360px;
      padding-left: 0px;
      list-style-type: none;
    }
     #aside1 {  
      width: 360px;
      padding: 0px;
   
    }
    
    ul {
      padding: 0px;
      margin-bottom: 0px;
    }
    
    

    .nav_menu {
      width: 360px;
      height: 640px;
      margin: 0px;
      padding-top: 30px;
    }
  
    .nav_menu ul {
      list-style: none;
      width: 320px;
      margin-left: 20px;
    }
  
    .nav_menu li {
      display: inline;
    }
  
    .nav_menu a {
      margin: 0px;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 0px;
      width: 300px;
      height: 80px;
      border: 1px solid #ffffff;
      background-color: #948383;
      text-align: center;
      font-size: 18px;
      color: #ffffff
    }
  
    .nav_menu a:hover {
        background-color: #990033;
    }

    a.span-button a {
      margin-left: 40px;
      float: left;
      display: block;
      width: 100px;
      margin: 2px;
    }

    div.card-notes h2 {
     
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
      font-size: 14px;
      
      float: left;
      display: block;
      width: 200px;
      margin: 2px;
    }
    
    div.card-notes hr {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    div.card-notes h4 {
      
      text-indent: 20px;
      text-align: left;
      margin-left: 10px;
      font-size: 22px;
    } 
    

  }
  